autom4te.cache/
build-aux/
aclocal.m4
configure
config.h
config.h.in
config.log
config.status
Makefile
Makefile.in
libtool
stamp-h1

# 6.5610 project
65610project/data/
65610project/cache/
65610venv/
.DS_Store